:root {
  --bg-color: #e8e8ea;
  --inverted-bg-color: #03031b;

  --primary-color: #446eec;
  --secondary-color: #425275;
  --inverted-primary-color: #026b02; 
  --inverted-secondary-color: #04ff04;
}