.app_orange_theme {
    --bg-color: #000;
    --inverted-bg-color: #fd810d;
    --primary-color: #a7b4c0;
    --secondary-color: #5d755d;
    --inverted-primary-color: #0232c2;
    --inverted-secondary-color: #0452ff;
}
